ul, body, h1, h2,h3, p {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #444444
}

ul {
    list-style: none;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
}

.todo-items {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1em;
    margin: 1em;
}

.form_change {
    display: flex;
}

.button_change, .form-sub-1  {
    padding: 1em;
    background-color: rgba(48, 168, 0, 0.8);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    right: 0;
    font-weight: bold;
    font-family: monospace;
}

.button_change:hover, .form-sub-1:hover{
    background-color: rgba(145, 245, 106, 0.5);
}

.create_do {
    display: flex;
    gap: 2em;
}

.button-container {
    display: flex;
    justify-content: end;
}

.input-container,.time-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    gap: 1em;
}

input[name='add_text'] {
    width: 100%;
    padding: 1em;
    border: none;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}

input[name='time-start'],input[name='time-end'],textarea, .form-sub-1 {
    padding: 1em;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
    border: none;
}

.create_do_text_form {
    color: #444444;
    font-family: monospace;
}

.input-container-time {
    display: flex;
    flex-direction:row;
    gap: 1em;
}

.text-area-container {
    height: 100%;;
}

.text-area-container textarea{
    width: 100%;
    height: 100%;
    resize: none;
    overflow: hidden;
}

.container-re {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-sub-1 {
    box-shadow: 0 0 5px 4px rgba(48, 168, 0, 0.3);
}

#dialog1 {
    border: none;
    box-shadow: 0 0 6px 3px rgba(0,0,0,0.5);
}

.todo-select {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.label-select {
    display: block;
    padding: 1em;
    width: 100%;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}

.todo-select:checked + label {
    box-shadow: 0 0 2px 2px rgba(48, 168, 0, 0.4);
}